* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
}

h1 {
  font-size: 60px;
  color: white;
  margin: 40px 0;
  text-align: center;
}

span {
  padding: 0 10px;
}

.container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number_box {
  width: calc(80vw / 10 - 20px);
  height: calc(80vw / 10 - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  text-align: center;
}

.fizz {
  background-color: darkseagreen;
}

.buzz {
  background-color: goldenrod;
}

.fizz.buzz {
  background-color: palevioletred;
}

.bonus {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: orangered;
}

.prime {
  background-color: #333;
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  .container {
    width: 90vw;
  }
  .number_box {
    width: calc(90vw / 5 - 20px);
    height: calc(90vw / 5 - 20px);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    margin: 20px 0;
  }

  .container {
    width: 90vw;
  }
  .number_box {
    width: calc(90vw / 3 - 20px);
    height: calc(90vw / 3 - 20px);
  }
}
